<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Login: logo vertical -->
<img th:fragment="brand-login"
     th:src="@{/img/logo-colegio-satelite-vertical.png}"
     alt="Colegio Satelite"
     class="brand-login">

<!-- Sidebar expandida: logo horizontal branca -->
<img th:fragment="brand-sidebar-expanded"
     th:src="@{/img/logo-colegio-satelite-horizontal-branco.png}"
     alt="Colegio Satelite"
     class="brand-sidebar-expanded">

<!-- Sidebar recolhida: somente simbolo -->
<img th:fragment="brand-sidebar-collapsed"
     th:src="@{/img/logo-colegio-satelite.png}"
     alt="Colegio Satelite"
     class="brand-sidebar-collapsed">

<!-- TV dashboards: logo horizontal colorida -->
<img th:fragment="brand-tv"
     th:src="@{/img/logo-colegio-satelite-horizontal.png}"
     alt="Colegio Satelite"
     class="brand-tv">

<!-- Admin header: logo horizontal branca -->
<img th:fragment="brand-admin"
     th:src="@{/img/logo-colegio-satelite-horizontal-branco.png}"
     alt="Colegio Satelite"
     class="brand-admin">

</body>
</html>
